#everything
*

#exceptions
!.gitignore
!nvim/
!nvim/**
!alacritty/
!alacritty/**
!rofi/
!rofi/**
!scripts/
!scripts/**
!scripts/*/target/*
!scripts/*/target/**
!ncmpcpp/
!ncmpcpp/config
!mpd/
!mpd/mpd.conf
!waybar/
!waybar/**
!river/
!river/**
!mako/
!mako/**
!newsboat/
!newsboat/config
!newsboat/dark
!htop/
!htop/htoprc
