#everything
*

#exceptions
!.gitignore
!nvim/
!nvim/**
!alacritty/
!alacritty/**
!rofi/
!rofi/**
!scripts/
!scripts/**
!scripts/*/target/*
!scripts/*/target/**
!waybar/
!waybar/**
!river/
!river/**
!mako/
!mako/**
!newsboat/
!newsboat/config
!newsboat/dark
!emptty
!ags/
!ags/**
!cmus/
!cmus/*.theme

# backups
!bspwm/
!bspwm/**
!sxhkd/
!sxhkd/**
