#everything
*

#exceptions
!.gitignore
!wezterm/
!wezterm/**
!nvim/
!nvim/**
!polybar/
!polybar/**
!picom/
!picom/**
!htop/
!htop/**
!bspwm/
!bspwm/**
!sxhkd/
!sxhkd/**
!alacritty/
!alacritty/**
!rofi/
!rofi/**
!scripts/
!scripts/**
!dunst/
!dunst/**
!ncmpcpp/
!ncmpcpp/config
!mpd/
!mpd/mpd.conf
!sway/
!sway/**
!waybar/
!waybar/**
