configuration {
	modes: "drun,run";
	show-icons: false;
	terminal: "alacritty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
 	display-drun: "⟩";
    display-run: "⟩";
	sidebar-mode: false;

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
}
@theme "apocalypse"
