* {
	font-family: UbuntuMono Nerd Font;
	font-weight: 600;
	font-size: 19px;
	/* background-color: red; */
	background-color: #1e1e2e;
	color: #cdd6f4;
	padding: 1px 0;
	margin: 0;
	border-radius: 24px;
}

#workspaces button label {
	font-size: 22px;
}

button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

tooltip {
	border-radius: 10px;
	border: 1px solid #7aa2f7;
}

#custom-power, #network, #battery {
	color: #7dcfff;
}

#custom-sep {
	font-weight: normal;
	font-size: 21px;
	color: #9399b2;
}

