@import './var/catppuccin.scss';
@import './var/font.scss';
@import './var/bar.scss';

$accent: $cat-mauve;
$bg: $cat-base;
$shadow: $cat-crust;
$text: $cat-text;
$subtext: $cat-overlay1;

* {
    all: unset;
    font-size: $font-size-main;
    font-family: monospace;
    font-weight: 600;
}

// main bar
.bar .left,
.bar .center,
.bar .right {
    padding: $bar-padding;
    border-radius: $bar-radius;
    background-color: $bg;
}

.sep {
    color: $subtext;
    margin: 0px 0px 3px 0px;
}

trough {
    all: unset;
    background-color: $bg;
    box-shadow: 1px 0px 2px 2px $shadow;
    border-radius: 16px;
    min-height: 10px;
    min-width: 80px;
    margin: 10px 5px; // sizes levelbars

    highlight,
    progress {
        background-image: linear-gradient(to right,
                darken($accent, 5%) 35%,
                $accent 70%,
                lighten($accent, 5%) 100% * 50);
        border-radius: 16px;
    }

    // levelbar
    block {
        margin: 0px 2px;
        border-radius: 16px;
    }

    block.filled {
        background-color: $accent;
    }
}

levelbar trough {
    box-shadow: unset;
}

// battery indicator
.battery.circle {
    // keeps it aligned to side
    margin: 0px -7px; // half of .circle margin

    * {
        color: $accent;
    }

    .outer {
        margin: 14px;
    }

    .inner {
        border-radius: 100%;
        font-size: $icon-size-big;
        margin: 10px;
        background-color: $bg;
    }
}

.revealing_slider .icon,
.battery.bar .icon {
    font-size: $icon-size-main;
    color: $accent;
}
